
img{
	white-space: 100px;
}

.grid-containder{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
}

.grid-item{
	border: 1px solid black;
	border-radius: 1rem;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-gap: 1rem;
	padding: 10px;
}