<footer class="footer">
    <div class="info flex-column flex-md-row bg-dark p-3">
        <div class="section">
            <h4>Lorem Ipsum</h4>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit tempora
                nam perspiciatis temporibus provident, quos vel suscipit.
            </p>
        </div>
        <div>
            <h4>Lorem Ipsum</h4>
            <ul class="list-unstyled">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>
        </div>
        <div>
            <h4>Lorem Ipsum</h4>
            <ul class="list-unstyled">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>
        </div>
    </div>
</footer>
