*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	color: #7A7A7A;
}

header{
	height: 80px;
	background-color: #7A7A7A;
}

h1{
	padding: 20px 0 0 10px;
	color: #FFF;
}

nav{
	min-height: 500px;
	padding: 10px;
	background-color: #D5D5D5;
}

ol li{
	list-style-type: none;
	margin-bottom: 5px;
}

li h2{
	color: #9602C1;
}

li a{
	margin-left: 50px;
	text-decoration: none;
	color: #7A7A7A; 
}

li a:hover{
	border-bottom: 2px solid #9602C1; 
}

footer{
	height: 60px;
	background-color: #7A7A7A;	
	color: #FFF;
	text-align: center;
	padding-top: 15px;
}