*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: white;
}

h1{
	text-align: center;
}

/*Estilos para todos los dados*/
section{
	display: flex;
	justify-content: center;
	text-align: center;
}

[class^="dado-"]{
	width: 100px;
	height: 100px;
	margin: 1em;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	display: flex;
}

.punto{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

/*dado 1*/
.dado-1{
	justify-content: center;
	align-items: center;
}

/*dado 2*/
.dado-2{
	justify-content: space-between;

}

.dado-2 .punto:nth-child(2){
	align-self: flex-end;
}

/*dado 3*/
.dado-3{
	justify-content: space-between;
}

.dado-3 .punto:nth-child(2){
	align-self: center;
}

.dado-3 .punto:nth-child(3){
	align-self: flex-end;
}

/*dado 4*/
.dado-4{
	justify-content: space-between;
}
.dado-4 .columna{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*dado 5*/
.dado-5{
	justify-content: space-between;
}
.dado-5 .columna{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dado-5 .punto:nth-child(2){
	align-self: center;
}

/*dado 6*/
.dado-6{
	justify-content: space-between;
}
.dado-6 .columna{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}