*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}

.flex-container{
	width: 500px;
	height: 500px;
	background-color: violet;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.flex-item{
	background-color: limegreen;
	width: 100px;
	height: 100px;
}

.flex-item:nth-child(even){ /*pares*/
	background-color: cyan;
}