@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body {
    font-family: 'Montserrat', sans-serif!important;
}
.dark-mode {
    background-color: black!important;
    color: white!important;
}