body{
	font-family: 'Raleway', sans-serif;
}

h1::first-letter{
	color: pink;
}

p::first-line{
	color: violet;
}

h2::before{
	content: "&copy;"
}


h2::after{
	content: "iver"
}

p::selection{
	background-color: limegreen;
	color: cyan;
}