@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body {
    background-color: #F0DB4F;
    font-family: 'Montserrat', sans-serif;
    color: #343530;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}