# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Natalia\Desktop\Codo a codo - Java\Comisión 2009-20201223T222731Z-001\Comisión 2009\Clase 38\codoacodo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
