*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}

header{
	height: 80px;
	background-color: #FF8003;
}

header h1{
	padding-top: 10px;
	text-align: center;
	padding-top: 20px;
}

#menu a{
	text-decoration: none;
	color: white;	
	background-color: #F24704;
	padding: 10px;
}

main{
	min-height: 500px;
}

section{
	padding: 10px;
}

h2, h3, h4{
	padding: 10px 0px;
}

section img{
	width: 30%;
	margin-left: 35%;
}

#receta{
	text-decoration: none;
	color: white;	
	background-color: #F24704;
	text-align: center;
	display: block;
	width: 100px;
	padding:10px;
	margin: 40px 10px 10px 10px;
}

section ul{
	margin-left: 20px;
}


footer{
	height: 80px;
	background-color: #FF8003;
	text-align: center; 
	padding: 10px;
}

footer nav a{
	text-decoration: none;
	color: blue;
}